.homeDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
textarea{
  height:50vh;
  width:50vw;
}
input{
  width:min-content;
}
label{
  font-family: 'Roboto Mono', monospace;
}