.homeDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap:5vh;
}
.slidersDiv{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap:4vw;
  align-items: center;
  width:100vw;
  justify-items: center;
  margin: 3vh;
}
.sliderDiv{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:70%;
}
textarea{
  height:50vh;
  width:50vw;
}
input{
  width:min-content;
}
label{
  font-family: 'Roboto Mono', monospace;
}
