

.buttonContainer{
  margin:10px;
}

.textAreaContainer{
  
}

textarea{
  max-width: 100%;
  width: 300px;
  min-height: 50px;
  resize: none;
  font-family: "Fira Code";
  border:3px solid #cccccc;
}
div{
  font-size: 1.1em;
}
